name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build-macos:
    runs-on: macos-15
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.3.app

      # - name: Setup Swift
      #   uses: swift-actions/setup-swift@v2
      #   with:
      #     swift-version: '6.1'

      - name: Build Release (macOS)
        run: swift build -c release

      - name: Archive macOS binary
        run: tar -czf DragonbaneCharacterCreator-macos.tar.gz .build/release/DragonbaneCharacterCLI

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-binary
          path: DragonbaneCharacterCreator-macos.tar.gz

  build-linux:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SQLite development headers
        run: sudo apt-get update && sudo apt-get install -y libsqlite3-dev

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: '6.0'

      - name: Build Release (Linux)
        run: swift build -c release

      - name: Archive Linux binary
        run: tar -czf DragonbaneCharacterCreator-linux.tar.gz .build/release/DragonbaneCharacterCLI

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-binary
          path: DragonbaneCharacterCreator-linux.tar.gz

  release:
    needs: [build-macos, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download macOS artifact
        uses: actions/download-artifact@v4
        with:
          name: macos-binary

      - name: Download Linux artifact
        uses: actions/download-artifact@v4
        with:
          name: linux-binary

      - name: Automatic Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            DragonbaneCharacterCreator-macos.tar.gz
            DragonbaneCharacterCreator-linux.tar.gz